<div class="daySelect form row">
  <div class="form-group col-xs-4" ng-if="!component.fields.province.hide">
    <label for="{{componentId}}-province" ng-class="{'field-required': component.fields.province.required}">{{ "Select.Province.label" | formioTranslate:null:builder }}</label>
    <select
      class="form-control"
      type="text"
      id="{{componentId}}-province"
      ng-model="date.province"
      ng-change="onChange()"
      ng-disabled="readOnly"
      ng-options="province.value as province.label | formioTranslate:null:builder for province in provinces"
    ></select>
  </div>
  <div class="form-group col-xs-4" ng-if="!component.fields.city.hide">
    <label for="{{componentId}}-city" ng-class="{'field-required': component.fields.city.required}">{{ "Select.City.label" | formioTranslate:null:builder }}</label>
    <select
      class="form-control"
      type="text"
      id="{{componentId}}-city"
      ng-model="date.city"
      ng-change="onChange()"
      ng-disabled="readOnly"
      ng-options="city.value as city.label | formioTranslate:null:builder for city in cities"
    ></select>
  </div>
  <div class="form-group col-xs-4" ng-if="!component.fields.county.hide">
    <label for="{{componentId}}-county" ng-class="{'field-required': component.fields.county.required}">{{ "Select.County.label" | formioTranslate:null:builder }}</label>
    <select
      class="form-control"
      type="text"
      id="{{componentId}}-county"
      ng-model="date.county"
      ng-disabled="readOnly"
      ng-options="county.value as county.label | formioTranslate:null:builder for county in counties"
    ></select>
  </div>
</div>
